<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Easy Movie Finder</title>
</head>
<body>
    <div class="details">
        <h2>{{movie.title}}</h2>
        <p><span>Realease Date: </span>{{ movie.release_date }}</p>
        <p><span>Overview: </span>{{movie.overview}}</p>
        <p><span>Genres: </span></p>
        {% for genre in movie.genres %}
            <ul>
                <li>{{ genre["name"] }}</li>
            </ul>
        {% endfor %}
        <p><span>Popularity:</span> {{ movie.popularity }}</p>
        <p><span>Vote Average:</span> {{movie.vote_average}}</p>
        <p><span>Cast:</span> </p>
        {% for actor in cast %}
            <p class="cast">{{ actor }}</p>
        {% endfor %}
    </div>

    <footer>
        <a href="#">Copyright &copy; 2021</a>
    </footer>
</body>
</html>