body {
    margin: 0;
    padding: 0;
    font-family:  Helvetica, Arial, sans-serif;
    background-color: #000000;
    color: white;
}

.container {
    width: 1250px;
    margin: 0 auto;
  }

form {
    margin: 5% 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 40px;
    color: white;
}

.logo {
    background-color: #F5C518;
    border-radius: 5px;
    padding: 0 6px;
    padding-top: 8px;
    color: #000000;
}

.form {
    width: 50%;
    height: 30px;
    margin-bottom: 20px;
}

.form-submit {
    font-size: 16px;
    padding: 5px 8px;
    color: #D6D6D6;
    background-color: #252525;
    border: none;
    border-radius: 5px;
}

.form-submit:hover {
    background-color: #1b1b1b;
    color: white;
}

.form-submit:focus {
    background-color: rgb(37, 37, 37);
}

.popular-title {
    text-align: center;
    color: #F5C518;
}

.popular {
    margin: 5% 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.popular-movie {
    margin-bottom: 20px;
    width: 220px;
}

.popular-movie a {
    text-decoration: none;
    color: white;
}

.popular-movie p {
    text-align: center;
}

.popular-movie a:hover {
    text-decoration: underline;
}

.logo-corner {
    margin-left: 15px;
    margin-top: 20px;
}

.main-movie {
    /* border: 1px solid rgb(77, 77, 77); */
    background-color: #1b1b1b;
    margin: 2% 0;
    height: 360px;
    text-align: center;
}

.main-movie img {
    float: left;
    margin-left: 3%;
    margin-top: 15px;
}

.movie-main-title {
    padding-top: 30px;
    font-weight: 700;
    font-size: 24px;
    text-decoration: underline;
}

.movie-main-p {
    font-size: 20px;
}

.main-learn a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.main-learn a:hover {
    text-decoration: underline;
}

.centre {
    text-align: center;
}

.similar {
    margin-left: 10%;
    margin-top: 50px;
}

.others {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 5%;
}

.movie {
    width: 300px;
    border: 1px black solid;
    margin: 10px 20px;
    /* background-color: rgb(255, 203, 196); */
}

.details {
    margin: 50px 60px;
}

.details p {
    font-size: 18px;
}

.details img {
    float: right;
    margin-left: 5%;
}

span {
    font-weight: 700;
}

/* .search-again {
    font-size: 16px;
    padding: 5px 8px;
    background-color: brown;
    color: black;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.search- {
    text-align: center;
} */

.cast {
    margin-left: 30px;
}

footer {
    background-color: #333;
    overflow: hidden;
    text-align: center;
    padding: 12px;
    bottom: 0;
    margin: 0
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    color: white;
}